.logout {
  background-color: var(--main-color);
  padding: 7px 10px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
