.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  position: relative;
}
.icon {
  font-size: 18px;
}
.switcher {
  position: absolute;
  width: 25px;
  aspect-ratio: 1/1;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
