.mainContainer {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 15px;
}
.post {
  flex-grow: 1;
  border: 1px solid #444;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.post:hover {
  background-color: black;
  border: 1px solid #fff;
}
.imageConatiner {
  position: relative;
  height: 280px;
}

.image {
  object-fit: cover;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  max-width: 100%;
}
.title {
  font-weight: 700;
  padding: 10px;
}
.text {
  font-size: 15px;
  color: #999;
  padding: 10px;
}
